<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wenzhuo4657.mapper.FileInfoMapper">
<!--    该sql标签表示实体类fileInfo的查询范围-->
    <sql id="fileInfo_param">
        file_id,user_id,file_md5,file_pid,file_size,file_name,file_cover,file_path,create_time,last_update_time,folder_type,file_category,file_type,status,del_flag,remove_time
    </sql>
    <!--            //  wenzhuo TODO 2024/3/26 : 在此处不使用CDATA标签会出现什么问题？ -->
<!--    判断sql的自动拼接，-->
    <sql id="sql_auto">
        <if test="fileId != null and fileId!=''">and file_id = #{fileId}</if>
        <if test="userId != null and userId!=''">and user_id = #{userId}</if>
        <if test="fileMd5 != null and fileMd5!=''">and file_md5 = #{fileMd5}</if>
        <if test="filePid != null and filePid!=''">and file_pid = #{filePid}</if>
        <if test="fileSize != null">and file_size = #{fileSize}</if>
        <if test="delFlag != null">and del_flag = #{delFlag}</if>
        <if test="fileName != null and fileName!=''">and file_name = #{fileName}</if>
        <if test="fileCover != null and fileCover!=''">and file_cover = #{fileCover}</if>
        <if test="filePath != null and filePath!=''">and file_path = #{filePath}</if>
        <if test="createTime != null and createTime!=''"><![CDATA[ and  create_time=str_to_date(#{createTime}, '%Y-%m-%d') ]]></if>
        <if test="lastUpdateTime != null and lastUpdateTime!=''"><![CDATA[ and  last_update_time=str_to_date(#{lastUpdateTime}, '%Y-%m-%d') ]]></if>
        <if test="folderType != null">and folder_type = #{folderType}</if>
        <if test="fileCategory != null">and file_category = #{fileCategory}</if>
        <if test="fileType != null">and file_type = #{fileType}</if>
        <if test="status != null">and status = #{status}</if>
        <if test="removeTime != null and removeTime!=''"><![CDATA[ and  remove_time=str_to_date(#{removeTime}, '%Y-%m-%d') ]]></if>
        <if test="fileIdArray!=null and fileIdArray.length>0">and file_id in(<foreach collection="fileIdArray" item="item" separator=",">#{item}</foreach>)</if>
        <if test="filePidArray!=null and filePidArray.length>0">and file_pid in(<foreach collection="filePidArray" item="item" separator=",">#{item}</foreach>)</if>
        <if test="excludeFileIdArray!=null and excludeFileIdArray.length>0">and file_id not in(<foreach collection="excludeFileIdArray" separator="," item="item">#{item}</foreach>)</if>
    </sql>
    <sql id="like_select">
        <if test="fileIdFuzzy!= null  and fileIdFuzzy!=''">and file_id like concat('%', #{fileIdFuzzy}, '%')</if>
        <if test="userIdFuzzy!= null  and userIdFuzzy!=''">
            and user_id like concat('%', #{userIdFuzzy}, '%')
        </if>
        <if test="fileMd5Fuzzy!= null  and fileMd5Fuzzy!=''">
            and file_md5 like concat('%', #{fileMd5Fuzzy}, '%')
        </if>
        <if test="filePidFuzzy!= null  and filePidFuzzy!=''">
            and file_pid like concat('%', #{filePidFuzzy}, '%')
        </if>
        <if test="fileNameFuzzy!= null  and fileNameFuzzy!=''">
            and file_name like concat('%', #{fileNameFuzzy}, '%')
        </if>
        <if test="fileCoverFuzzy!= null  and fileCoverFuzzy!=''">
            and file_cover like concat('%', #{fileCoverFuzzy}, '%')
        </if>
        <if test="filePathFuzzy!= null  and filePathFuzzy!=''">
            and file_path like concat('%', #{filePathFuzzy}, '%')
        </if>
        <if test="createTimeStart!= null and createTimeStart!=''">
            <![CDATA[ and  create_time>=str_to_date(#{createTimeStart}, '%Y-%m-%d') ]]>
        </if>
        <if test="createTimeEnd!= null and createTimeEnd!=''">
            <![CDATA[ and  create_time< date_sub(str_to_date(#{createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
        </if>
        <if test="lastUpdateTimeStart!= null and lastUpdateTimeStart!=''">
            <![CDATA[ and  last_update_time>=str_to_date(#{lastUpdateTimeStart}, '%Y-%m-%d') ]]>
        </if>
        <if test="lastUpdateTimeEnd!= null and lastUpdateTimeEnd!=''">
            <![CDATA[ and  last_update_time< date_sub(str_to_date(#{lastUpdateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
        </if>
    </sql>


    <sql id="base_condition">
        <where>
            <include refid="sql_auto"/>
        </where>
    </sql>
    <sql id="query_condition"><where><include refid="sql_auto"/>
            <if test="filePidFuzzy!= null  and filePidFuzzy!=''">and file_pid like concat('%', #{filePidFuzzy}, '%')</if>
            <if test="fileIdFuzzy!= null  and fileIdFuzzy!=''">and file_id like concat('%', #{fileIdFuzzy}, '%')</if>
            <if test="userIdFuzzy!= null  and userIdFuzzy!=''">and user_id like concat('%', #{userIdFuzzy}, '%')</if>
            <if test="fileMd5Fuzzy!= null  and fileMd5Fuzzy!=''">and file_md5 like concat('%', #{fileMd5Fuzzy}, '%')</if>
            <if test="fileNameFuzzy!= null  and fileNameFuzzy!=''">and file_name like concat('%', #{fileNameFuzzy}, '%')</if>
            <if test="fileCoverFuzzy!= null  and fileCoverFuzzy!=''">and file_cover like concat('%', #{fileCoverFuzzy}, '%')</if>
            <if test="filePathFuzzy!= null  and filePathFuzzy!=''">and file_path like concat('%', #{filePathFuzzy}, '%')</if>
            <if test="createTimeStart!= null and createTimeStart!=''"><![CDATA[ and  create_time>=str_to_date(#{createTimeStart}, '%Y-%m-%d') ]]></if>
            <if test="createTimeEnd!= null and createTimeEnd!=''"><![CDATA[ and  create_time< date_sub(str_to_date(#{createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]></if>
            <if test="lastUpdateTimeStart!= null and lastUpdateTimeStart!=''"><![CDATA[ and  last_update_time>=str_to_date(#{lastUpdateTimeStart}, '%Y-%m-%d') ]]></if>
            <if test="lastUpdateTimeEnd!= null and lastUpdateTimeEnd!=''"><![CDATA[ and  last_update_time< date_sub(str_to_date(#{lastUpdateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]></if></where>
    </sql>

    <select id="selectAllByUserIdLong" resultType="java.lang.Long">
        SELECT IFNULL(SUM(file_size),0)  FROM file_info where  user_id=#{id}
    </select>
    <select id="findListByInfoQuery" resultType="cn.wenzhuo4657.domain.entity.FileInfo">
        SELECT <include refid="fileInfo_param"/>
            FROM file_info
        <include refid="query_condition"/>
        <if test="orderBy!=null">order by ${orderBy}</if>
        <if test="simplePage!=null">limit #{simplePage.start},#{simplePage.end}</if>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select  count(*) from file_info
        <include refid="query_condition"></include>
    </select>
    <select id="selectByFileidAndUserid" resultType="cn.wenzhuo4657.domain.entity.FileInfo">
        select  <include refid="fileInfo_param"></include>
            from file_info
            where file_id=#{fileId} and user_id=#{userId}
    </select>

</mapper>