<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wenzhuo4657.mapper.UserInfoMapper">
    <select id="selectByEmail" resultType="cn.wenzhuo4657.domain.entity.UserInfo">
        select *
        from  user_info
        where  email=#{email}
    </select>
    <select id="selectByNickName" resultType="cn.wenzhuo4657.domain.entity.UserInfo">
        select *
        from  user_info
        where  user_name=#{nickName}
    </select>
</mapper>